#main-view{
    color: #a9dba9;
    text-align: center;

}

.legend{
    background: #4f4f4f;
    border: 1px solid #8f8f8f;
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 980px;
}

.legend>div {
    height: 25px;
    width: 100px;
}

.graph{
    margin:10px;
    border: 1px solid  #8f8f8f;
}
.graph#area-graph{
    margin:10px;
    border: none;

}

.graph#area-graph div{
    border: 1px solid #8f8f8f
}

form{
    text-align: left;
}