#main-view{
    background-color: #000000;
    color: #a9dba9;
    padding: 10px;
    width: 99%;
    overflow: scroll;
    display: block;
    height: 850px;
}

.legend{
    background: #4f4f4f;
    border: 1px solid #8f8f8f;
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 480px;
}

.legend>div {
    height: 25px;
    width: 100px;
}

.graph{
    margin:10px;
    border: 1px solid  #8f8f8f;

}
.graph#line-graph{
    margin:10px;
    border: none;

}

.graph#line-graph div{
    border: 1px solid #8f8f8f
}

.graph#area-graph{
    margin:10px;
    border: none;

}

.graph#area-graph div{
    border: 1px solid #8f8f8f
}

pre{
    min-height: 500px;
    background: rgba(128,128,128,0.5);
    margin: 10px;
    padding: 10px;
    min-width: 980px;
}
code{
    background: #202020;
    display: block;
    width: 980px;
}
.control{
    margin-top:20px;
    padding: 10px;
    width: 98%;
    background: rgba(64,64,64,0.5);
    overflow: hidden;
}
graph{
    display: inline-table;
    float: right;
    position: relative;
    top: 30px;
    left: -50px;
}
label{
    padding: 5px;
}
slider{
    width: 90% !important;
}